# Extracci贸n

Los datos fueron extra铆dos de un archivo JSON y normalizados en un DataFrame de Pandas

In [11]:
import pandas as pd
import numpy as np
import requests

url='https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
response=requests.get(url)
datos_json=response.json()

# Transformaci贸n

Durante esta fase, se realiz贸 una limpieza inicial para estandarizar los nombres de las columnas y convertir la columna TotalCharges (Cargos Totales) a un formato num茅rico, identificando y tratando 11 valores nulos como clientes nuevos (cero cargos)

In [12]:
df=pd.json_normalize(datos_json)
#1-)vemos como se llaman realamente las columnas de cargos
print("Columnas detectadas que contienen 'Charges':")
print([col for col in df.columns if 'Charges' in col])
#2-)elimino los prefijos repetitivos como customer ,phone etc
df.columns = [col.split('.')[-1] for col in df.columns]
print(df.columns)
#Convertimos Cargo_Total a numero.'coerce'transforma espacios vacios en nulos
df['TotalCharges'] = pd.to_numeric(df['Total'], errors='coerce')
# 5. Visualizaci贸n r谩pida de la salud de los datos
print("Estructura del dataset:", df.shape)
print("\nTipos de datos y nulos:")
print(df.info())

Columnas detectadas que contienen 'Charges':
['account.Charges.Monthly', 'account.Charges.Total']
Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Monthly', 'Total'],
      dtype='object')
Estructura del dataset: (7267, 22)

Tipos de datos y nulos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Monthly           7267 non-null   float64
 20  Total             7267 non-null   object
 21  TotalCharges      7256 non-null   float64
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB
None

# Carga y an谩lisis

#Informe final